extends ../layout

block body
    div#main-container.container.comt-dataset
      div.row
        p
         a(href='/comt')= 'Coastal and Ocean Modeling Testbed'
         | &nbsp;>&nbsp;
         a(href='/comt/projects/' + projectPath + '#sub-project-descriptions')= project.title
      div.row
        h2.text-center= dataset.title
        p.text-center= dataset.description
        div.media
          div.media-left
            img(class='media-object thumbnail', src=dataset.thumbnail)
          div.media-body
            dl.dl-horizontal
              if dataset.temporal !== null
                dt Date Range
                - var min = new Date(dataset.temporal.substr(0, dataset.temporal.indexOf('/'))).toUTCString().substr(4, 12)
                - var max = new Date(dataset.temporal.substr(dataset.temporal.lastIndexOf('/') - 19, 19)).toUTCString().substr(4, 12)
                dd!= min + ' &ndash; ' + max
              dt Spatial Extent
              dd= dataset.spatial
              dt Links
              dd
                ul
                  each distro in dataset.distributions
                    li
                      a(href=distro.downloadURL, target='_blank')= distro.description
              dt Available Variables
              dd
                ul
                  each val, index in dataset.variablesMeasured
                    li
                      span.badge= val

    script.
      console.log(!{JSON.stringify(dataset)})